<?xml version="1.0" encoding="UTF-8"?>
<beans 	xmlns="http://www.springframework.org/schema/beans" 
		xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:tx="http://www.springframework.org/schema/tx"
		xmlns:context="http://www.springframework.org/schema/context"
		xsi:schemaLocation="http://www.springframework.org/schema/beans 
							http://www.springframework.org/schema/beans/spring-beans-3.2.xsd 
							http://www.springframework.org/schema/tx 
							http://www.springframework.org/schema/tx/spring-tx-3.2.xsd
							http://www.springframework.org/schema/context
							http://www.springframework.org/schema/context/spring-context-3.2.xsd
							">
		<!-- 1.引DB小配置文件 -->
		<context:property-placeholder location="classpath:conf/jdbc.properties"/>
		<!-- 连接池 -->
		<!-- 2.配置数据源 -->	   
		<bean id="ds" class="org.apache.commons.dbcp.BasicDataSource">
			<property name="driverClassName" value="${driver}"></property>
			<property name="url" value="${url}"></property>
			<property name="username" value="${uname}"></property>
			<property name="password" value="${password}"></property>
		</bean>
		<!-- 3.配置SqlSessionFactory -->
		<bean id="factory" class="org.mybatis.spring.SqlSessionFactoryBean">
			<!-- 注入数据源 -->
			<property name="dataSource" ref="ds"></property>
			
		<!-- 注册mapper文件 -->
			<property name="mapperLocations">
				<array>
					<value>classpath:dao/*Mapper.xml</value><!-- ems.dao包中所有的xml文件 -->
				</array>			 
			</property>
		</bean>
		<!-- 4.配置dao -->
		<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">
			<!-- 注入mapper的接口，值为 包名.子包名.接口名 -->
			<!-- dao包中所有的接口 -->
			<property name="basePackage" value="dao"></property><!-- dao包里面的所有 -->
			<!-- 获取连接 -->
			<property name="sqlSessionFactoryBeanName" value="factory"></property>
		</bean>
		
		<!-- 5.注解开发 包扫描 -->	
		<context:component-scan base-package="service"/>
		
		<!-- 6.配置事物管理器，并指定事物属性 -->
		<bean id="tm" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
			<property name="dataSource" ref="ds"></property>
		</bean>
		<!-- 7.事物注解生效 -->
		<tx:annotation-driven transaction-manager="tm"/>
</beans>
 